/****************************************
 * Estilos generales del Hero
 ****************************************/

.carousel-bg {
  width: 100%;
  height: 100vh; /* Ajusta la altura según tu preferencia */
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  inset: 0; /* Equivalente a top: 0; left: 0; right: 0; bottom: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5); /* Oscurece un poco para resaltar el texto */
}

.swiper-carrousel {
  z-index: 1000;
  color: white;

  background-color: rgba(31, 31, 31, 0.4);
  border-radius: 20px;
  --swiper-navigation-color: whitesmoke;

}

.hero-content {
  position: relative;
  bottom: 20%;
  padding: 10px;
  z-index: 1;
  max-width: 100%;
  color: whitesmoke;
  margin: 0 20px;
  text-align: center; /* en móviles, o left en escritorio, según prefieras */
}

.hero-content h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.hero-buttons button:first-child {
  margin-right: 1rem;
}

/****************************************
 * Sección de Trending Movies
 ****************************************/
.trending-movies-container {
  position: relative;
  bottom: 370px; /* Ajusta según la altura del hero */
  width: auto;
  padding: 2rem 2rem 3rem;
  background-color: transparent;
  /* Para que visualmente se note cambio de sección */
}

.trending-movies-container h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.movie-posters {
  padding-left: 10px;
  padding-right: 10px;
  flex: 0 0 auto;
  width: 200px; /* ajusta tamaño del poster */
  transition: transform 0.3s;
  border-radius: 12px;
}

.movie-posters img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.movie-posters:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 792px) {
  .movie-posters {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
    width: 150px; /* ajusta tamaño del poster */
    transition: transform 0.3s;
    border-radius: 12px;
  }

  .trending-movies-container {

    bottom: 300px; /* Ajusta según la altura del hero */

  }

}

@media (max-width: 392px) {
  .movie-posters {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
    width: 120px; /* ajusta tamaño del poster */
    transition: transform 0.3s;
    border-radius: 12px;
  }
}

@media (max-width: 300px) {
  .movie-posters {
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
    width: 100px; /* ajusta tamaño del poster */
    transition: transform 0.3s;
    border-radius: 12px;
  }
}


