<!-- Contenedor principal del carrusel/hero -->
<div class="carousel-bg mb-5">
  <div class="hero-container">
    <!-- Imagen de fondo -->

    @if(moviePoster){

      <img
        class="hero-background"
        [ngSrc]="moviePoster.poster_url"
        width="100%"
        height="100%"
        priority
        fill
        (load)="loaded=true"
        [class.loaded]="loaded"
        alt="Fondo">

      <!-- Contenido superpuesto -->
      <div class="hero-content">
        <h1>{{moviePoster.title_snapshoot}}</h1>

        <div class="hero-buttons">
          <button
            style="color: whitesmoke;"
            mat-stroked-button
            [routerLink]="['/movies', moviePoster.movieId]"
            >Ver cartelera</button>
        </div>
      </div>

    }

  </div>

  <!-- Sección de películas "trending" -->
  <div class="trending-movies-container">
    <h2 style="color: rgba(255, 255, 255, 0.9);">Mas Destacadas</h2>
    <swiper-container
      class="swiper-carrousel"
      navigation="true"
      slides-per-view="5"
      css-mode="true"
      [scrollbar]="{ draggable: true }"
      [breakpoints]="swiperBreakpoints"

      >
      @for(movie of moviesCarrusel; track $index){
        <swiper-slide class="text-center p-2" lazy="true">
          <img (click)="selectMovie(movie)" [src]="movie.img_url" class="movie-posters" loading="lazy">
        </swiper-slide>
      }

    </swiper-container>

  </div>
</div>






