.carousel-bg {
  position: absolute;
  top: 0;
  width: 100%;
}

.list-movies-container {
  margin-top: 100vh; /* altura completa del viewport */
}

/* Ajuste para pantallas grandes o para mayor precisión */
@media (min-width: 992px) {
  .list-movies-container {
    margin-top: 750px; /* igual a la altura del .hero-container en escritorio */
  }
}

@media( max-width: 992px) {
  .list-movies-container {
    margin-top: 750px; /* un valor menor para pantallas pequeñas */
  }
}

@media (min-width: 1200px) {
  .list-movies-container {
    margin-top: 730px; /* un valor mayor para pantallas más grandes */
  }
}

/* Ajuste para móviles */
@media (max-width: 768px) {
  .list-movies-container {
    margin-top: 700px; /* un valor menor para pantallas pequeñas */
  }
}
