.dialog-content {
  background-color: whitesmoke;
}

.text-showtime {
  font-size: clamp(8px, 2vw, 12px);
  width: 100%;
  word-wrap: break-word;
}

.fechas-funciones {
  padding: 0;
  height: 55px;
  width: 25%;
}

@media (max-width: 477px) {
  .fechas-funciones {
    padding: 0;
    height: 55px;
    width: 100%;
  }
}

@media ((min-width: 477px) and (max-width: 768px)) {
  .fechas-funciones {
    padding: 0;
    height: 55px;
    width: 75%;
  }
}
