h6 {
  color: gray;
}

h1, h2, h3, h4, h5 {
  color: whitesmoke;
}

/* Contenedor del video con altura fija para evitar que se solapen con el contenido */
.video-container {
  position: relative;
  margin-bottom: 20px; /* Separa visualmente del contenido de abajo */
  border-radius: 20px;
  width: 100%;
  height: 500px;
  aspect-ratio: 16/9;

}

.movie-detail {

  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
}

.movie-detail h6 {

  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.img-video {
  height: 100%;
  width: 100%;
  object-fit: fill;  /* Para que ocupe todo sin deformarse */
  border-radius: 15px;
  cursor: pointer;

}

/* Estilos base para móviles (mobile-first) */
.movie-poster {

  text-align: center;
  z-index: 10;          /* Se asegura que esté por encima del video */
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.movie-synopsis{

  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  text-align: justify; /* Justifica el texto */
  font-size: clamp(14px, 3vw, 18px); /* Ajusta min, punto medio y max a tus necesidades */
  color: whitesmoke;

}

@media (max-width: 768px){
  .movie-poster {
    bottom: 310px;        /* Posiciona verticalmente dentro del contenedor */
    left: 15%;         /* Ajuste para centrar en pantallas medianas */
    width: 80px;      /* Incrementa ligeramente el tamaño */
  }
}

@media (max-width: 350px){
  .movie-poster {
    bottom: 310px;        /* Posiciona verticalmente dentro del contenedor */
    left: 15%;         /* Ajuste para centrar en pantallas medianas */
    width: 60px;      /* Incrementa ligeramente el tamaño */
  }
}








